# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [62]:
drinks = pd.read_csv("alcohol.txt")
drinks = drinks.dropna()
print(drinks)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[170 rows x 6 columns]

### Step 4. Which continent drinks more beer on average?

In [63]:
ind_mo = drinks.beer_servings.idxmax()
print(drinks.iloc[ind_mo,0])

Poland

### Step 5. For each continent print the statistics for wine consumption.

In [64]:
continents = drinks.continent.drop_duplicates()
for continent in continents:
    print(drinks[drinks.continent == continent].wine_servings)

0        0
12       7
13       0
19       0
24       1
30       1
36       8
46       0
77       0
78       0
79       0
80       0
82       9
85      16
86       1
87      12
90       0
91       6
92     123
94      31
102      0
103      0
112      8
116      0
119      0
127      1
128      0
134      1
137      7
138      9
141     73
149      0
154     11
161      0
167     16
168      0
169      1
171      4
176      7
177     32
181      5
186      8
189      1
190      0
Name: wine_servings, dtype: int64
1       54
3      312
7       11
9      191
10       5
15      42
16     212
21       8
25      94
42     254
44     113
45     134
48     278
57      59
60      97
61     370
64     149
65     175
67     218
75     185
76      78
81     165
83     237
93      62
98      56
99     271
105    120
111      0
113    128
120    190
126    129
135     56
136    339
139     18
140    167
147      0
151    127
155    116
156    276
160    112
165    186
166    280
170     86
180     45
182    195
Name: wine_servings, dtype: int64
2       14
4       45
18      13
22      35
26       7
27       0
28       7
29      16
31       4
33       1
34       1
38       1
39       9
47       1
49       3
53       1
55     233
56       0
58       0
62      59
63       1
66      10
70       2
71      21
88       2
95       0
96       2
97       0
100      4
101      1
104      1
107      0
108     18
114     10
115      5
117      1
123      1
124      2
142      0
148    140
150      7
152     51
153      2
158      0
159     81
162      0
164      2
172     19
175     20
179      0
183      1
191      4
192      4
Name: wine_servings, dtype: int64
6      221
20       8
23      16
35     172
37       3
52       3
72       1
132     74
133     21
163      7
185    220
188      3
Name: wine_servings, dtype: int64
8      212
40      74
59       1
89       1
106      0
110     18
118      8
121    175
125      7
129     23
131      1
146     24
157      1
173      5
178      9
187     11
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcoohol consumption per continent for every column

In [65]:
continents = drinks.continent.drop_duplicates()
for continent in continents:
    print(continent)
    alc = drinks[drinks.continent == continent].total_litres_of_pure_alcohol
    print(alc.mean())

AS
2.170454545454545
EU
8.617777777777775
AF
3.0075471698113208
SA
6.308333333333334
OC
3.3812499999999996

### Step 7. Print the median alcoohol consumption per continent for every column

In [66]:
continents = drinks.continent.drop_duplicates()
for continent in continents:
    print(continent)
    alc = drinks[drinks.continent == continent].total_litres_of_pure_alcohol
    print(alc.median())

AS
1.2
EU
10.0
AF
2.3
SA
6.85
OC
1.75

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [74]:
pd.DataFrame([[drinks["total_litres_of_pure_alcohol"].mean()], [drinks["total_litres_of_pure_alcohol"].min()],
             [drinks["total_litres_of_pure_alcohol"].max()]], columns=["mean", "min", "max"])

ValueError: 3 columns passed, passed data had 1 columns